/.github                      export-ignore
/.vscode                      export-ignore
/.import                      export-ignore
/docs                         export-ignore
/example                      export-ignore
/scripts                      export-ignore
/.gitattributes               export-ignore
/.gitignore                   export-ignore
/default_env.tres             export-ignore
/LICENSE.md                   export-ignore
/README.md                    export-ignore
/project.godot                export-ignore